In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import seaborn as sns
import datetime
%matplotlib inline

## Pre procesar los datos

In [12]:
dataset = pd.read_csv("df_depurada_1.csv", encoding = "ISO-8859-1")
dataset.drop(['RADICADO', 'OBJECTID', 'CBML', 'DIRECCION', 'DIRECCION_ENC'], axis=1, inplace=True)
dataset['CANTIDAD'] = dataset.groupby(['FECHA','COMUNA'])['X'].transform('count')
dataset = dataset.sort_values(by=['FECHA', 'COMUNA'], ascending=True)
dataset.reset_index(inplace=True, drop=True) 
dataset.head()

,X,Y,FECHA,HORA,DIA,PERIODO,CLASE,TIPO_GEOCOD,GRAVEDAD,BARRIO,COMUNA,DISENO,DIA_NOMBRE,MES,CANTIDAD
0,836425.4,1186933.0,2014-01-01T00:00:00.000Z,04:00 AM,1,2014,Choque,Malla vial,HERIDO,Berlín,Aranjuez,Interseccion,MIÉRCOLES,1,6
1,836078.7,1185726.0,2014-01-01T00:00:00.000Z,06:10 PM,1,2014,Choque,Malla vial,HERIDO,Brasilia,Aranjuez,Tramo de via,MIÉRCOLES,1,6
2,836019.2,1184988.0,2014-01-01T00:00:00.000Z,12:15 AM,1,2014,Otro,Malla vial,HERIDO,Manrique Central No. 1,Aranjuez,Tramo de via,MIÉRCOLES,1,6
3,835879.2,1185962.0,2014-01-01T00:00:00.000Z,01:20 PM,1,2014,Choque,Malla vial,HERIDO,Brasilia,Aranjuez,Interseccion,MIÉRCOLES,1,6
4,835639.8,1187531.0,2014-01-01T00:00:00.000Z,05:30 AM,1,2014,Choque,Malla vial,SOLO DAÑOS,San Isidro,Aranjuez,Interseccion,MIÉRCOLES,1,6

In [13]:
entrenamiento_2014 = dataset[dataset['PERIODO'] == 2014]
entrenamiento_2015 = dataset[dataset['PERIODO'] == 2015]
entrenamiento_2016 = dataset[dataset['PERIODO'] == 2016]
entrenamiento = pd.concat([entrenamiento_2014, entrenamiento_2015, entrenamiento_2016], ignore_index=True)

In [14]:
clase = pd.get_dummies(data=entrenamiento['CLASE'], drop_first=True)
gravedad = pd.get_dummies(data=entrenamiento['GRAVEDAD'], drop_first=True)
barrio = pd.get_dummies(data=entrenamiento['BARRIO'], drop_first=True)
comuna = pd.get_dummies(data=entrenamiento['COMUNA'], drop_first=True)
diseno = pd.get_dummies(data=entrenamiento['DISENO'], drop_first=True)
dia_nombre = pd.get_dummies(data=entrenamiento['DIA_NOMBRE'], drop_first=True)
tipo_geocod = pd.get_dummies(data=entrenamiento['TIPO_GEOCOD'], drop_first=True)

In [15]:
entrenamiento.drop(['CLASE', 'GRAVEDAD', 'BARRIO', 'DISENO', 'DIA_NOMBRE', 'COMUNA', 'TIPO_GEOCOD'], inplace=True, axis=1)

In [16]:
entrenamiento_1 = pd.concat([entrenamiento, clase, gravedad, barrio, comuna, diseno, dia_nombre, tipo_geocod], axis=1)
entrenamiento_1.head()

,X,Y,FECHA,HORA,DIA,PERIODO,MES,CANTIDAD,Caída Ocupante,Choque,...,Malla vial aproximada: TV 39B-73A,Malla vial aproximada: TV 39B-79A,Malla vial aproximada: TV 49C-59,Malla vial aproximada: TV 4A-75B,Malla vial aproximada: TV 51A-67A,Malla vial aproximada: TV 74-74,Malla vial aproximada: TV 78-65,Malla vial aproximada: TV 7A-30,Malla vial cruce invertido,Nomenclatura con Interior
0,836425.4,1186933.0,2014-01-01T00:00:00.000Z,04:00 AM,1,2014,1,6,0,1,...,0,0,0,0,0,0,0,0,0,0
1,836078.7,1185726.0,2014-01-01T00:00:00.000Z,06:10 PM,1,2014,1,6,0,1,...,0,0,0,0,0,0,0,0,0,0
2,836019.2,1184988.0,2014-01-01T00:00:00.000Z,12:15 AM,1,2014,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
3,835879.2,1185962.0,2014-01-01T00:00:00.000Z,01:20 PM,1,2014,1,6,0,1,...,0,0,0,0,0,0,0,0,0,0
4,835639.8,1187531.0,2014-01-01T00:00:00.000Z,05:30 AM,1,2014,1,6,0,1,...,0,0,0,0,0,0,0,0,0,0

In [17]:
import datetime

def create_fecha(cols):

In [18]:
entrenamiento_1['FECHA_1'] = entrenamiento_1[['HORA', 'DIA', 'MES', 'PERIODO']].apply(create_fecha, axis=1)

TypeError: an integer is required (got type str)